<h1><%= @part.part_identifier %></h1>
<h4><%= @part.part_description %></h4>
<div class="row-fluid">
  <div class="span6">
    <h3>Basic Information</h3>
    <dl class="dl-horizontal">
      <dt>Year</dt><dd><%= @part.part_year %></dd>
      <dt>Team</dt><dd><%= @part.team.team_name %></dd>
      <dt>Type</dt><dd><%= @part.part_type.type_name %></dd>
      <dt>parts registry</dt><dd><%= link_to "http://partsregistry.org/Part:#{@part.part_identifier}", "http://partsregistry.org/Part:#{@part.part_identifier}", target: '_blank' %>
    </dl>

    <% if current_user %>
      <h3>Your Review</h3>
      <% if @my_review.first %>
        <%= link_to 'Edit your review', "/reviews/#{@my_review.first.id}/edit", remote: true, class: 'edit-my-review btn btn-primary' %>
        <ul id="my-review"><%= render partial: @my_review.first %></ul>
      <% else %>
        <%= link_to 'Post your review!', "/parts/#{@part.part_identifier}/reviews/new?type=review", remote: true, class: 'edit-my-review btn btn-primary' %>
        <ul id="my-review"></ul>
      <% end %>

      <h3>Your Questions</h3>
      <%= link_to 'New Question', "/parts/#{@part.part_identifier}/reviews/new?type=question", remote: true, class: 'edit-my-review btn btn-primary' %>
      <ul id="my-questions">
        <%= render partial: @my_questions %>
      </ul>
    <% else %>
      <%= link_to 'Log in before posting your review!', '/login' %>
    <% end %>
  </div>

  <div class="span6">
    <h3>Hottest Reviews</h3>
    <% @reviews = @part.reviews.order('good_counter DESC').limit(10) %>
    <ul id="reviews">
      <%= render partial: @reviews %>
    </ul>
  </div>
</div>

<div class="modal hide fade" id="review-form-wrapper" style="margin: -290px 0 0 -400px; width: 800px; height: 580px;">
</div>
