<h1>Edit password</h1>

<%= form_tag '/profile/password', class: 'form-horizontal' do %>
  <% if @error_msg %>
    <div class="alert alert-block alert-error">
      <a class="close" data-dismiss="alert" href="#">×</a>
      <h4>failed to update password.</h4>
      <ul>
        <li><%= @error_msg %></li>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <div class="control-group">
      <%= label_tag :current_password, 'current password', class: 'control-label' %>
      <div class="controls">
        <%= password_field_tag :current_password %>
      </div>
    </div>

    <div class="control-group">
      <%= label_tag :password, 'new password', class: 'control-label' %>
      <div class="controls">
        <%= password_field_tag :password %>
      </div>
    </div>

    <div class="control-group">
      <%= label_tag :password_confirmation, 'confirm new password', class: 'control-label' %>
      <div class="controls">
        <%= password_field_tag :password_confirmation %>
      </div>
    </div>

    <div class="form-actions">
      <%= submit_tag 'submit', class: 'btn btn-primary', disable_with: 'submitting...' %>
    </div>
  </fieldset>
<% end %>
