<h1>Reset password</h1>

<p>Do you forget your password? Please fill following form. You will recieve new password via mail.</p>

<%= form_tag '/reset_password', class: 'form-horizontal' do %>
  <% if @error_msg %>
    <div class="alert alert-block alert-error">
      <a class="close" data-dismiss="alert" href="#">×</a>
      <h4>failed to update password.</h4>
      <ul>
        <li><%= @error_msg %></li>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <div class="control-group">
      <%= label_tag :user_email, 'email address',class: 'control-label' %>
      <div class="controls">
        <%= email_field_tag :user_email %>
      </div>
    </div>

    <div class="form-actions">
      <%= submit_tag 'submit', class: 'btn btn-primary', data: { disable_with: 'submitting...' } %>
    </div>
  </fieldset>
<% end %>
