<div class="row-fluid">
  <div class="span4">
    <h2>Hottest Reviews</h2>
    <ul>
      <% @hottest_reviews.each do |review| %>
        <li>
          <h3><%= review.part.part_identifier %></h3>
          <h4 class="review-heading"><%= review.review_title %></h4> by <%= review.user.user_name %>
          <div class="review-body" data-review-id="<%= review.id %>">
            <%= link_to raw('<i class="icon-thumbs-up"></i> Like '), "/reviews/#{review.id}/good", class: 'good-to-review', remote: true %>
            <span class="review-good-count"><%= review.good_counter %></span>
            <pre><%= review.review_text %></pre>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="span4">
    <h2>Latest Reviews</h2>
    <ul>
      <% @latest_reviews.each do |review| %>
        <li>
          <h3><%= review.part.part_identifier %></h3>
          <h4 class="review-heading"><%= review.review_title %></h4> by <%= review.user.user_name %>
          <div class="review-body" data-review-id="<%= review.id %>">
            <%= link_to raw('<i class="icon-thumbs-up"></i> Like '), "/reviews/#{review.id}/good", class: 'good-to-review', remote: true %>
            <span class="review-good-count"><%= review.good_counter %></span>
            <pre><%= review.review_text %></pre>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="span4">
    <h2>Random pickup</h2>
    <ul>
      <% @random_reviews.each do |review| %>
        <li>
          <h3><%= review.part.part_identifier %></h3>
          <h4 class="review-heading"><%= review.review_title %></h4> by <%= review.user.user_name %>
          <div class="review-body" data-review-id="<%= review.id %>">
            <%= link_to raw('<i class="icon-thumbs-up"></i> Like '), "/reviews/#{review.id}/good", class: 'good-to-review', remote: true %>
            <span class="review-good-count"><%= review.good_counter %></span>
            <pre><%= review.review_text %></pre>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
