<h1>My reviews</h1>

<ul class="pager">
  <% previous_enable = (@page > 1) %>
  <li class="previous <%= previous_enable ? '' : 'disabled' %>">
    <a href="<%= @pagenation_base_url %><%= previous_enable ? @page - 1 : @page %>">&larr;Previous</a>
  </li>
  <% next_enable = (@page < @page_max) %>
  <li class="next <%= next_enable ? '' : 'disabled' %>">
    <a href="<%= @pagenation_base_url %><%= next_enable ? @page + 1 : @page %>">Next&rarr;</a>
  </li>
</ul>

<ul>
  <%= render partial: @reviews %>
</ul>

<ul class="pager">
  <% previous_enable = (@page > 1) %>
  <li class="previous <%= previous_enable ? '' : 'disabled' %>">
    <a href="<%= @pagenation_base_url %><%= previous_enable ? @page - 1 : @page %>">&larr;Previous</a>
  </li>
  <% next_enable = (@page < @page_max) %>
  <li class="next <%= next_enable ? '' : 'disabled' %>">
    <a href="<%= @pagenation_base_url %><%= next_enable ? @page + 1 : @page %>">Next&rarr;</a>
  </li>
</ul>

<div class="modal hide fade" id="review-form-wrapper" style="margin: -290px 0 0 -400px; width: 800px; height: 580px;">
</div>
